{% extends 'base.jinja2' %}


{% block body %}

  <style>
body {
	background-image: url("https://source.unsplash.com/random/1920x1080/?space");
    background-repeat:no-repeat;
    background-size:auto;
}

</style>

{% endblock %}


