{% extends 'base.jinja2' %}

{% block body %}
    <link rel="stylesheet" href="https://pagecdn.io/lib/font-awesome/5.10.2/css/all.min.css"
          integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous">

    <br/>
    <blockquote class="blockquote">
        <h3 class="mb-0"> Object Manager </h3>
        <footer class="blockquote-footer">Objects stores data interacts with users</footer>
    </blockquote>
    <br/>

    <h4 class="mb-0"> Create New Object Class </h4>

    <form method="post" class="border rounded-lg p-2 bg-light">
        <div class="form-group row">
            <label for="name" class="col-sm-1 col-form-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                 <small>&nbsp;Object Key: </small> <small> key </small>
            </div>
        </div>
         <div class="form-group row">
            <label for="pname" class="col-sm-1 col-form-label" style="white-space: nowrap;">Plural Name</label>
            <div class="col-sm-4">

                <input type="text" class="form-control" id="pname" name="pname" placeholder="Plural Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-1 col-form-label">Description</label>
            <div class="col-sm-5">
                <textarea type="text" class="form-control" id="description" name="description" placeholder="Description"> </textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
    <br/>

    <h4 class="mb-0"> Existing Objects </h4>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>

            {% for object in objects %}
                <tr>
                    <th scope="row" class="col-1">{{ loop.index }}</th>
                    <td class="col-1">{{ object.get_field('name').value }}</td>
                     <td class="col-1">
                             <a href="{{ url_for('object_manager_edit', object_id=object._id) }}"
                                style="text-decoration: none " data-toggle="tooltip" data-placement="top" title="Edit {{ object.get_field('name').value }} Class">
                             <i class="fas fa-pen text-info"></i>
                         </a>
                          <a href="{{ url_for('object_manager_edit', object_id=object._id) }}"
                                style="text-decoration: none " data-toggle="tooltip" data-placement="top" title="New {{ object.get_field('name').value }} Object">
                             <i class="fas fa-plus text-success"></i>
                         </a>
                             <a href="{{ url_for('object_manager_delete', object_id=object._id) }}"
                                style="text-decoration: none " data-toggle="tooltip" data-placement="top" title="Delete {{ object.get_field('name').value }} Class">
                             <i class="far fa-trash-alt text-danger"></i>
                         </a>
                     </td>
                    <td class="col-4">{{ object.get_field('description').value }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

    <script src="/static/js/object-manager.js"></script>

{% endblock %}
