{% extends 'base.jinja2' %}

{% block body %}
    <link rel="stylesheet" href="https://pagecdn.io/lib/font-awesome/5.10.2/css/all.min.css"
          integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous">

    <br/>
    <blockquote class="blockquote">
        <h3 class="mb-0"> Object Manager - Fields</h3>
        <footer class="blockquote-footer">Objects stores data interacts with users</footer>
    </blockquote>
    <br/>

    <h4 class="mb-0"> Create New Field </h4>

    <form   action="{{ url_for('object_manager_add_field', object_id=object._id) }}" method="post" class="border rounded-lg p-2 bg-light">
        <div class="form-group row">
            <label for="label" class="col-sm-2 col-form-label">Label</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="label" name="label" placeholder="Label">
                <small>&nbsp;Field Key: </small> <small> key </small>
            </div>
        </div>
         <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Data type</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="text" value="text" checked>
          <label class="form-check-label" for="text">
            Text
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="number" value="number">
          <label class="form-check-label" for="number">
            Number
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="datetime" value="datetime" disabled>
          <label class="form-check-label" for="datetime">
            Date and Time
          </label>
        </div>
      </div>
    </div>
  </fieldset>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
    <br/>

    <h4 class="mb-0"> Type: {{ object.objectClass }} </h4>
    <h4 class="mb-0"> Name: {{ object.get_field('name')['value'] }} ({{ object.get_field('pluralName')['value'] }}) </h4>
    <h5 class="mb-0"> Description: {{  object.get_field('description')['value'] }} </h5>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Field</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

            {% for field in object.fields %}
                {% if field.fieldKey not in ['name', 'pluralName', 'description'] %}
                    <tr>
                        <th scope="row" class="col-1">{{ loop.index }}</th>
                        <td class="col-2">{{ field.label }}</td>
                        <td class="col-1">{{ field.type }}</td>
                        <td class="col-1">
                             <a href="{{ url_for('object_manager_field_delete', object_id=object._id, field_key=field.fieldKey) }}"
                                style="text-decoration: none " data-toggle="tooltip" data-placement="top" delay="0" title="Delete {{ field.label }} field">
                             <i class="far fa-trash-alt text-danger"></i>
                         </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        </tbody>

    </table>

    <script src="/static/js/object-manager.js"></script>

{% endblock %}
