{% extends 'base.jinja2' %}

{% block body %}
    <link rel="stylesheet" href="https://pagecdn.io/lib/font-awesome/5.10.2/css/all.min.css"
          integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <br/>
    <blockquote class="blockquote">
        <h3 class="mb-0"> Data Objects </h3>
        <footer class="blockquote-footer">Objects stores data interacts with users</footer>
    </blockquote>
    <br/>

    <script>
        localStorage.classes = JSON.stringify( JSON.parse('{{ map }}') );
    </script>

    <h4 class="mb-0"> Create New Object </h4>
    <form method="post" class="border rounded-lg p-2 bg-light">
        <div class="form-group row">
            <label for="classpicker" class="col-sm-1 col-form-label">Class</label>
            <div class="col-sm-10">
                <select id="classpicker" class="selectpicker" data-live-search="true" data-width="auto">
                <option>Select object class</option>
                    {% for c in classes %}
                        {%  set name_val = c.get_field('name').value %}
                         <option value= "{{ name_val  }}" data-tokens="{{ name_val }}">{{ name_val }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% if selected is not none %}

            <h4 class="mb-0"> {{ selected.get_field('name')['value'] }} ({{ selected.get_field('pluralName')['value'] }}) </h4>
            <h5 class="mb-0"> {{  selected.get_field('description')['value'] }} </h5>
            <br/>

            {% for field in selected.fields %}
                {% if field.fieldKey not in ['name', 'pluralName', 'description'] %}



                    <div class="form-group row">
                        <label for="{{ field.fieldKey }}" class="col-sm-1 col-form-label" style="white-space: nowrap;"> {{ field.label }}</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="{{ field.fieldKey }}" name="{{ field.fieldKey }}" placeholder="{{ field.label }}">
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="reset" onclick="location.href='{{ url_for("data_objects") }}';" class="btn btn-warning" >Clear</button>
                    </div>
                </div>

        {% endif %}

    </form>
    <br/>

    <h4 class="mb-0"> Existing Objects </h4>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Class</th>
            <th scope="col">Actions</th>
            <th scope="col">Fields</th>
        </tr>
        </thead>
        <tbody>

        {% for object in data %}
            <tr>
                <th scope="row" class="col-1">{{ loop.index }}</th>
                <td class="col-1">{{ object.objectClass }}</td>
                <td class="col-1">
                    <a href="{{ url_for('object_manager_edit', object_id=object._id) }}"
                       style="text-decoration: none " data-toggle="tooltip" data-placement="top" delay="0"
                       title="Edit {{ object.get_field('Name').value }} Class">
                        <i class="fas fa-pen text-info"></i>
                    </a>
                    <a href="{{ url_for('object_manager_edit', object_id=object._id) }}"
                       style="text-decoration: none " data-toggle="tooltip" data-placement="top" delay="0"
                       title="New {{ object.get_field('Name').value }} Object">
                        <i class="fas fa-plus text-success"></i>
                    </a>
                    <a href="{{ url_for('object_manager_delete', object_id=object._id) }}"
                       style="text-decoration: none " data-toggle="tooltip" data-placement="top" delay="0"
                       title="Delete {{ object.get_field('Name').value }} Class">
                        <i class="far fa-trash-alt text-danger"></i>
                    </a>
                </td>
                <td class="col-4">

                    {% for field in object.fields %}

                        <strong>{{ field.label }}</strong>: {{ field.value }} <br>

                    {% endfor %}


                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="static/js/object-data.js"></script>

{% endblock %}
